.jumbotron{
    margin: 0 auto;
    margin-top: 250px;
}
.jumbotron h1{
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

#the-basics{
    font-size: 2.5em;
     margin-left: 300px;
}

